body {
  font-family: "Avenir Next";
}
.header{
  background-color:#59bb0c;
  height: 60px;
  color:azure;
  padding:5px;
  margin:-10px -100px 0px -10px;

}
.header_logo {
  float:left;
  padding:0px 20px;

}
.header li{
  list-style: none;
  float: left;
  margin: 20px 30px;
}
.header samp{
  font-size: 20px;
  margin:10px;
}