body {
  font-family: "Avenir Next";
}
header{
  background-color:#4169e1;
  height: 60px;
  color:azure;
  padding:5px;
  margin:-10px -5px 0px -10px;
  text-align: center;
}
header a{
  color:#fff;
  text-decoration: none;
}
.logo {
  float:left;
  padding:0px 20px;
}
.layer{
  list-style: none;
  float: left;
  margin: 20px 30px;
  text-decoration: none;
}
.layer:hover {
  text-decoration: underline;
}
.main{
  background-color:azure;
  color:#3E3E3E;
  padding:10px;
  margin:0px -5px 0px -10px;
}
.tag{
  text-align: center;
  padding:10px;
}
.flex{
  display: flex;
  justify-content: center;
}
.flex p{
  font-size : 20px;
}
.url {
  text-decoration: none;
}
.url:hover {
  text-decoration: underline;
}
.section_1 img{
  padding:10px;
  width: 255px;
  height: 255px;
}
.scroll {
  height: 100px;
  text-align: center;
  overflow: scroll;
  background-color: #fff;
}
.scroll::-webkit-scrollbar{
  display: none;
}
footer {
  background-color:#3E3E3E;
  height: 60px;
  color:azure;
  padding:5px;
  margin:0px -5px -10px -10px;
  text-align: center;
}
footer a{
  color:#fff;
  text-decoration: none;
}
.slash{
  float:left;
  font-size: 20px;
  padding:20px;
}
